@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Inria+Serif:wght@700&family=League+Spartan:wght@700;800&family=Libre+Baskerville&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #a1c3ff;
    
}

h1, h2 {
    margin-bottom: 15px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;  /*  To Center the container */
    padding: 0 30px;
}

.navbar {
    background: #3474e6;
    color: #fff;
    height: 60px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.navbar a:hover {
    color: #a1c3ff;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;  /* Taking 100% of the .navbar */
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style-type: none;
}

.header {
    background-color: #4068be;
    min-height: 400px;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 400px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    background: #0a51cc;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}

.box i {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .boxes .container {
        flex-direction: column;  /* display: block; also display the same effect */
        text-align: center;
    }
}